<fieldset>
  <legend><h3>Nous connaitre</h3></legend>
  <p>
      Datalake est une entreprise du service numérique spécialisée dans l'ingénierie digitale <br>
  <br>
  Implantée à Paris, Casablanca et à Tunis, l'offre de service Datalake couvre différents secteurs d'activités tels que le secteur financier (banque..), retail, automobile, média... et s'articule autour du conseil technologique, la transformation digitale, la modernisation de SI, les services pour les applications et les services d'infrastructure. 
  Notre ambition est de répondre aux différents besoins des entreprises en proposant des activités de consultance et de support pour aider à planifier, implémenter, sécuriser, gérer et optimiser l'environnement IT.
  <br>
  <br>
  L'expertise, l'engagement et l'efficacité sont les valeurs de nos consultants, et qui font de Datalake votre partenaire pour la réussite de vos projets.
  <br>
  <br>
  Prenez contact avec notre équipe sales afin d'échanger sur vos besoins, vos demandes
  <br>
  <br>
  Particulièrement agile, nous favorisons l'excellence technologique et nous plaçons la créativité au cœur de nos missions.
  <br>
  <br>
  Nos pôles de compétences s’articulent autour du développement, de l'ingénierie de Production IT et du Big Data.
  </p>
</fieldset>
<footer>
    <div class="datalake">
      <h3>DATALAKE FRANCE</h3>
      <p>14/30 RUE DE MANTES,</p>
      <p>92700 Colombes - France</p>
      <p>Phone: +33 01 47 82 23 38</p>
    </div>
    <div class="datalake">
      <h3>DATALAKE TUNISIE</h3>
      <p>Tour A complexe centre Cléopâtre,</p>
      <p>Centre Urbain Nord - Tunis</p>
      <p>Phone: +216 36 364 487</p>
    </div>
    <div class="datalake">
      <h3>DATALAKE MAROC</h3>
      <p>Zenith Business Center,</p>
      <p>11 Lotissement Attawfik</p>
      <p>Sidi Maarouf - Casablanca</p>
    </div>
    <div class="follow-us">
      <h3>Follow US</h3>
      <ul>
        <li><a href="https://twitter.com/DatalakeGroup">Twitter</a></li>
        <li><a href="https://fr.linkedin.com/company/datalakefr">Linkedin </a></li>
      </ul>
    </div>
  </footer>
  